.p1{
color: #F8330F;
background-color: silver;
font-family:
'Montserrat Subrayada', sans-serif;
}
#p2{
color: #4AF80F;
font-family:
'Roboto', sans-serif;
}
.p3{
color: #0F0FF8;
font-family:
'Bakbak One', cursive;
}
